.section-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
}

.post {
  display: flex;
  border: 1px solid black;
  width: 500px;
  padding: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.content {
  flex: 3;
}

p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 16px;
}

.delete {
  padding: 12px 18px;
  background: red;
  color: white;
  border-radius: 4px;
  outline: none;
  margin-top: 16px;
}

.delete:hover {
  cursor: pointer;
  background: white;
  color: black;
}
